# Ignorar base de datos MySQL generada por Docker
mysql/
mysql/*

# Ignorar archivos socket
*.sock

# Ignorar logs
*.log
logs/
log/

# Ignorar archivos temporales del contenedor
glpi/files/_cache/
glpi/files/_log/
glpi/files/_tmp/

# Ignorar binarios
*.pid
*.lock

# Ignorar ngrok
ngrok.yml
.ngrok2/

# Ignorar carpetas ocultas
.DS_Store

# Ignorar backups pesados
backups/
